{% extends "layout.html" %} {% block content %}
<p>
  Hello! I'm Wahib Ben Said, a passionate software developer with a Master's
  degree in Computer Science from the University of Birmingham. With a solid
  background in web development, artificial intelligence, and machine learning,
  I’ve been working on diverse projects ranging from small web applications to
  AI-driven solutions.
  <br /><br />
  I have experience with technologies like Flask, SQLAlchemy, React, Node.js,
  and more, and I'm always exploring new tools and frameworks.
  <br /><br />
  This Tech Blog is created to share some of the latest news about whats going
  on in the world.
  <br /><br />
  If you'd like to connect or learn more about my professional experience, feel
  free to reach out on
  <a href="https://www.linkedin.com/in/wahib-ben-said/" target="_blank"
    >LinkedIn</a
  >. I look forward to connecting with fellow tech enthusiasts and collaborating
  on exciting projects!
</p>

{% endblock content %}
